<div class="flex flex-col flex-auto min-w-0"  ngxUiLoaderBlurred>

    <!-- Header -->
    <div class="bg-gray-600" style="background-color: #5c616f!important;">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 mt-2 mb-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div
                            class="text-xl text-white tracking-normal"
                        >
                            CREAR LISTA GENERICA TIPO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main  -->
    <div class="flex-auto">
        <div class="w-11/12 -m-10 max-w-screen-xl mx-auto">
            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <form #form_f="ngForm" (ngSubmit)="enviarFormulario(form_f)">

                <div class="p-4 shadow rounded-2xl bg-white">
                    <div class="p-4 flex">
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2">
                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    [(ngModel)]="modelo.nombre"
                                    name="nombre"
                                    #nombre="ngModel"
                                    required
                                    value=""
                                />
                                <mat-label>Nombre</mat-label>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="p-4 flex">
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2">

                            <mat-form-field class="w-full">
                                <input
                                    matInput
                                    [(ngModel)]="modelo.descripcion"
                                    name="descripcion"
                                    #descripcion="ngModel"
                                    required
                                    value=""
                                />
                                <mat-label>Descripcion</mat-label>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="p-4 flex justify-end">
                        <button
                        class="py-2 px-4 m-2 rounded-md bg-gray-600 text-white"
                        type="submit"
                        >
                            Guardar
                        </button>
                        <button
                            class="py-2 px-4 m-2 rounded-md bg-orange-400 text-black"
                            type="button"
                            [routerLink]="'/catalogos/ListasGenericasTipo'"
                        >
                            Cancelar
                        </button>

                    </div>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>

                </div>
            </form>

        </div>
    </div>
</div>