
<div class="flex flex-col flex-auto min-w-0"  ngxUiLoaderBlurred>

    <!-- Header -->
    <div class="bg-gray-600" style="background-color: #5c616f!important;">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 mt-2 mb-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div
                            class="text-xl text-white tracking-normal"
                        >
                            LISTAS GENERICAS TIPO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main  -->
    <div class="flex-auto">
        <div class="w-11/12 -m-10 max-w-screen-xl mx-auto">
            <div class="p-4 shadow rounded-2xl bg-white">
                <div class="flex">
                    <div class="w-full p-4 flex items-center justify-between">
                        <div class="flex items-center justify-center">
                            <mat-form-field>
                                <input
                                    matInput
                                    placeholder="Buscar"
                                    (keyup)="aplicarFiltro($event.target.value.toLocaleLowerCase())"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>
                            </mat-form-field>
                        </div>
                        <div class="cursor-pointer flex items-center justify-center border rounded-md px-4 py-2" [routerLink]="'/catalogos/ListaGenericasTipo-abc'">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-orange-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                            </svg>
                        </div>
                    </div>
                </div>
                    <table mat-table [dataSource]="dataSource" class="w-full" matSort>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                ID
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.id }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Nombre
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.nombre }}  
                                
                                <p></p>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Descripcion
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.descripcion }}
                            </td>
                        </ng-container>

                    
                        <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef>
                                Acción
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <span class="material-icons">
                                        more_vert
                                    </span>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button
                                        mat-menu-item
                                        [routerLink]="'/catalogos/ListaGenericasTipo-abc/' + element.id" 
                                    >
                                        <span class="material-icons">
                                            edit_note
                                        </span>
                                        <span>Edita</span>
                                    </button>
                                    <button mat-menu-item type="button" (click)="eliminarListaGenericaTipo(element)">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 pr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                        <span>Elimina</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="cols"></tr>
                        <tr mat-row *matRowDef="let row; columns: cols;"></tr>
                    </table>
                    
                <mat-paginator [pageSizeOptions]="[2, 5, 10]"
                    showFirstLastButtons
                    aria-label="Elementos por página">
                </mat-paginator>

                 
               
            </div> <!-- Contenedor  -->

         </div> 
    </div>
   
</div>


