

<div class="absolute inset-0">
  <!-- Main -->
  <div class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10">
      <!-- @formatter:off -->
      <h1 class="Titulo401">401</h1>

      <div class="w-full max-w-3xl">
          <br>
      <div class="mt-12 sm:mt-24 text-4xl md:text-7xl font-extrabold tracking-tight leading-tight md:leading-none text-center"><mat-icon style="color: #EF5350; font-size: 90px; position: relative;">error_outline</mat-icon></div>
      <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary"><span class="h3 orange-800-fg"><strong>No Autorizado</strong></span>
        <div class="message">Su sesión ha expirado o no estás autorizado para acceder a esté recurso.</div>
        <div class="message">Se va a refrescar la página.</div></div>
  </div>
</div>

